# Archivos y carpetas de Python
__pycache__/
*.pyc

# Configuración de editores
.idea/
.vscode/

# Entornos virtuales (si usas uno)
venv/

# Otros (opcionales)
*.log
.env

# Archivos de caché
*.cache   